a {
  text-decoration: none;
  color: #35858B;
}

a:hover {
  color: #A3E4DB;
}

h1 {
  font-family:Trebuchet MS;
}

h3 {
  font-family:Trebuchet MS;
  margin-bottom: 0;
}

p { font-family:Trebuchet MS; }

li { font-family:Trebuchet MS; }

td { font-family:Trebuchet MS; }

span {
  font-family: Comic Sans MS;
  font-size: smaller;
  color: grey;
  padding-left: 10px;
}

body {background-color: snow;}

hr {
  border-style: double none none;
  border-width: 3px;
  color: grey;
  margin: 0;
  }

ul {
  margin-top: 0;
  margin-bottom: 20px;
}

.hashtag {
  font-family:courier;
  margin: 0;
  color: #92A9BD;
}

.star {
  color: gold;
  padding-right: 20px;
}

.position {
  margin-bottom: 0;
  font-family:Trebuchet MS;
}
